body {
	font-family: Arial;
	color: #222;
	/* opacity: 0.75; */
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

header {
	padding-bottom: 40px;
	font-size: 11pt;
	opacity: 0.75;
}

footer { padding-top: 80px; }

footer.center, header.center { text-align: center; }

.center { margin: auto; }
div.center { text-align: center; }
.github-icon { top: 2px; position: relative; opacity: 0.3; }

table {
	margin: auto;
}

table:not(:last-child) {
	margin-bottom: 70px;
}

/*
@media not print {
	tbody {
		background-color: #9ACD32;
	}
	th {
		text-shadow: 1px 1px 1px #444444DD
	}
}
*/

th {
	font-size: 28pt;
	padding-bottom: 5px;
	color: #FFC107;
}

td {
	padding: 0 20px;
	margin: 0;
	text-align: center;
}

td.bold {
	font-weight: bold;
}

tfoot td {
	text-align: center;
	padding-top: 5px;
	letter-spacing: 15px;
	font-size: 14pt;
}

tfoot td span {
	letter-spacing: initial;
}

tfoot td span.italic {
	text-decoration: underline overline;
}
