body {
	font-family: Arial;
	color: #222;
	/* opacity: 0.75; */
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

header {
	padding-bottom: 10px;
	font-size: 12pt;
	opacity: 0.75;
}

footer { padding-top: 10px; }

footer.center, header.center { text-align: center; }

h1.center { text-align: center; }
.center { margin: auto; }
div.center { text-align: center; }
.github-icon { top: 2px; position: relative; opacity: 0.3; }

table {
	margin: auto;
}

table.highlight {
	border: 1px solid gray;
	background-color: aliceblue;
}

/*
@media not print {
	tbody {
		background-color: #66666622;
	}
	th {
		text-shadow: 1px 1px 1px #444444DD
	}
}
*/

th {
	font-size: 28pt;
	color: #795548;
}

td {
	padding: 5px 20px 0 20px;
	margin: 0;
	text-align: center;
	white-space: nowrap;
}

.bold {
	font-weight: bold;
}

td.note-name {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 10px;
	letter-spacing: 15px;
	font-size: 14pt;
}

td.note-name span {
	letter-spacing: initial;
}

td.note-name span.blank {
	position: relative;
	bottom: -6px;
}

td.note-name span.root {
	text-decoration: underline overline;
}

div.spacer {
	padding-top: 50px;
}
